@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;

  --surface: #14121a;
  --surface-container: #201f27;
  --surface-container-low: #1c1a23;
  --surface-container-high: #2b2932;

  --primary: #c8bfff;
  --primary-container: #917eff;

  --on-surface: #e5e0ec;
  --on-surface-variant: #c9c4d6;

  --outline: #928ea0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--on-surface);
}